body {
  margin: 0;
  background: #ddd;
  min-height: 100vh;
  min-width: 100vw;
  --van-tabbar-item-active-color: pink;
  --van-tag-primary-color: pink;
  --van-button-primary-background-color: pink;
  --van-button-primary-border-color: pink
}
